
.pill {
  background-color: var(--theme-bg-subtle);
  border: 2px solid transparent;
}
.pill:focus {
  outline: 2px solid var(--theme-border-default);
  outline-offset: 2px;
  border: 2px solid var(--theme-border-default);
}
.pill:hover {
  background-color: var(--theme-bg-dark);  
  border: 2px solid var(--theme-border-default);
  text-decoration: underline;
}