@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Fira Code', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 500;
  background-color: var(--theme-bg-default);
  color: var(--theme-fg-default);

  --theme-max-width: 1200px;

  --theme-bg-default: theme('colors.grey.700');/* #0E0E0E; */
  --theme-bg-subtle: theme('colors.grey.500'); /* #161616; */
  --theme-bg-dark: theme('colors.black');/* #000000; */

  --theme-fg-default: theme('colors.mercury.50');
  --theme-fg-subtle: theme('colors.mercury.500');

  --theme-border-default: theme('colors.mercury.400');/* #F8F8F7; */
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #303438 var(--theme-bg-dark);
}
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
*::-webkit-scrollbar-track {
  background: var(--theme-bg-dark);
  border-radius: 20px;
}
*::-webkit-scrollbar-thumb {
  background-color: #303438;
  border-radius: 20px;
  border: 3px solid var(--theme-bg-dark);
}

kbd {
  background-color: var(--theme-bg-dark);
  padding: 1px 5px;
  border-radius: 4px;
  border: 2px solid var(--theme-border-default);
  font-size: 0.9em;
}

code {
  background-color: #282c34;
  padding: 2px;
  border-radius: 2px;
}

.max-width {
  max-width: var(--theme-max-width);
}

article > h4 {
  transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
}
article:hover > h4 {
  font-style: italic;
}
article:hover > p > .hover-snakeline {
  background-size: 100% 2px;
}

.hover-snakeline {
  background-image: linear-gradient(to right, #fff 0%, #fff 100%);
  background-position: 0px 95%;
  background-size: 0% 2px;
  transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  padding: 0.1% 0px;
  background-repeat: no-repeat;
}

.prose a:hover {
  font-style: italic;
  text-decoration: underline;
  color: var(--theme-post-feature, #ffffff);
}
.code-block code {
  /* make room for the code language pill */
  padding: 0 32px 0 0;
  float: left;
}

.prose blockquote {
  padding: theme('spacing.2') theme('spacing.4');
  font-style: normal;
  border-radius: theme('borderRadius.sm');
}
.prose blockquote code {
  color: var(--tw-prose-code);
}
.prose blockquote,
.prose blockquote.primary {
  background-color: #00153c;
  color: #addbff;
  border-color: #addbff;
}

/* pending https://github.com/jknyght9/remark-blockquotes-extended/pull/1 */
.prose blockquote.succes,
.prose blockquote.success {
  background-color: #001d09;
  color: #77ec95;
  border-color: #77ec95;
}

.prose blockquote.warning {
  background-color: #3b2300;
  color: #eac54f;
  border-color: #eac54f;
}

.prose blockquote.caution {
  background-color: #39000d;
  color: #ffc7c5;
  border-color: #ffc7c5;
}

.prose blockquote p {
  margin: 0;
}

.prose ul li label {
  position: relative;
}

.prose ul li label input[type=checkbox] {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.prose ul li label input[type=checkbox]:focus ~ .checkbox {
  outline: 2px solid var(--theme-fg-default);
  outline-offset: 2px;
}
.prose ul li label input[type=checkbox]:checked ~ .checkbox {
  background-color: var(--theme-fg-default);
}
.prose ul li label input[type=checkbox]:checked ~ .checkbox::after {
  transform: rotate(45deg) scale(1);
  opacity: 1;
}
.prose ul li label .checkbox {
  height: 16px;
  width: 16px;
  border-radius: 2px;
  background-color: transparent;
  border: 2px solid var(--theme-border-default);
  display: inline-block;
  margin: 0 8px 0 0;
  position: relative;
}
.prose ul li label .checkbox::after {
  content: '';
  position: absolute;
  transform: rotate(0deg) scale(1);
  opacity: 0;
  left: 4px;
  top: 0;
  width: 5px;
  height: 10px;
  border: solid var(--theme-bg-default);
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}

.page-banner-bg {
  width: 100%;
  height: 580px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
#main {
  z-index: 1;
  position: relative;
  flex: 1 0;
}

.page-header {
  min-height: 380px;
  display: flex;
  align-items: flex-end;
}

/* Post Page */
.post-page {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  width: 100%;
}
.post-page .post-main {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  width: 100%;
}

.post-page .post-main .content,
.post-page .post-main .comments {
  border: 2px solid var(--theme-border-default);
  background-color: var(--theme-bg-subtle);
  padding: 16px;
}

.post-page .post-main .content {
  min-height: 50vh;
}

.post-page .post-main .content {
  
}

.post-page .post-main > * {
  margin-top: 0;
}