@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Fira Code', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 500;
  background-color: var(--theme-bg-default);
  color: var(--theme-fg-default);

  --theme-max-width: 1200px;

  --theme-bg-default: theme('colors.grey.700');/* #0E0E0E; */
  --theme-bg-subtle: theme('colors.grey.500'); /* #161616; */
  --theme-bg-dark: theme('colors.black');/* #000000; */

  --theme-fg-default: theme('colors.mercury.50');
  --theme-fg-subtle: theme('colors.mercury.500');

  --theme-border-default: theme('colors.mercury.400');/* #F8F8F7; */
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

kbd {
  background-color: var(--theme-bg-dark);
  padding: 1px 5px;
  border-radius: 4px;
  border: 2px solid var(--theme-border-default);
  font-size: 0.9em;
}

code {
  background-color: #282c34;
  padding: 2px;
  border-radius: 2px;
}

.max-width {
  max-width: var(--theme-max-width);
}

article > h4 {
  transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
}
article:hover > h4 {
  font-style: italic;
}
article:hover > p > .hover-snakeline {
  background-size: 100% 2px;
}

.hover-snakeline {
  background-image: linear-gradient(to right, #fff 0%, #fff 100%);
  background-position: 0px 95%;
  background-size: 0% 2px;
  transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  padding: 0.1% 0px;
  background-repeat: no-repeat;
}

.page-banner-bg {
  width: 100%;
  height: 580px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
#main {
  z-index: 1;
  position: relative;
  flex: 1 0;
}

.page-header {
  min-height: 380px;
  display: flex;
  align-items: flex-end;
}

/* Post Page */
.post-page {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  width: 100%;
}
.post-page .content {
  /* grid-column: auto / span 9; */
  border: 2px solid var(--theme-border-default);
  min-height: 50vh;
  background-color: var(--theme-bg-subtle);
  padding: 16px;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  width: 100%;
}
.post-page .content > * {
  margin-top: 0;
}
/* .post-page > aside {
  grid-column: auto / span 3;
  border: 2px solid var(--theme-border-default);
  width: 100%;
} */

